.header_cont {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F0FC;
    padding: 20px 50px;
    font-family: 'Quicksand', sans-serif;


    .header_cont_logo {
        font-size: 27px;
        color: #AD12FF;

        .header_logo_span {
            color: #7a00bc;
        }
    }

    .header_link_cont {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_link {
            padding: 10px;
            margin: 0 10px;
            font-size: 17px;
            color: #AD12FF;

            &:hover {
                color: #7a00bc;
            }
        }
    }
}